{% extends 'main/leyaut.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus perspiciatis quae deleniti aut iusto mollitia odio doloremque eveniet aperiam recusandae nemo omnis nostrum inventore quaerat suscipit, temporibus laborum debitis iure!</p>
        <button class="btn btn-warning">На страницу про нас</button>
    </div>
{% endblock %}